{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

<h2> Demandes </h2>

{{ form_start(form)}}

{{ form_row(form.nom, {'label': 'Nom', 'attr': {'placeholder': 'Entrez votre nom'}})}}
{{ form_row(form.prenom, {'label': 'Prénom', 'attr': {'placeholder': 'Entrez votre prénom'}})}}
{{ form_row(form.nomEtablissement, {'label': 'Nom établissement', 'attr': {'placeholder': 'Entrez le nom de votre établissement'}})}}
{{ form_row(form.tel, {'label': 'Numéro téléphone', 'attr': {'placeholder': 'Entrez votre numéro de téléphone'}})}}
{{ form_row(form.email, {'label': 'Email', 'attr': {'placeholder': 'Entrez votre email'}})}}
{{ form_row(form.quantite, {'label': 'Quantité', 'attr': {'placeholder': 'Entrez la quantité que vous voulez'}})}}
<button type="submit" > Valider </button>
{{ form_end(form)}}



{% endblock %}