{# templates/Body/homePage.html.twig #}

<main role="main">



<div style="margin-bottom: 3em" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img class="d-block w-100" src="/image/carrousel1.jpg" alt="First slide">
      <div class="container">
              <div class="carousel-caption text-left">
                <h1>A propos de nous</h1>
                <p>Étudiants à CESI, campus d’enseignement supérieur et de formation professionnelle, nous avons choisi de nous investir dans un projet qui aiderait à mettre en place les gestes barrières autour de Toulouse et lutter contre le COVID-19.</p>
                <p><a class="btn btn-lg btn-light" href="#LearnMore" role="button">En apprendre plus</a></p>
              </div>
            </div>
    </div>

    <div class="carousel-item">
      <img class="d-block w-100" src="/image/carrousel2.jpg" alt="Second slide">
      <div class="container">
              <div class="carousel-caption text-left">
                <h1>Le respirateur</h1>
                <p>La solution que nous proposons, est un masque de respirateur déployable rapidement pour les centres hospitaliers de Toulouse. Fabriqué dans notre campus en collaboration avec Décathlon.</p>
                <p><a class="btn btn-lg btn-light" href="{{ path('productPage') }}" role="button">Consulter la fiche produit</a></p>
              </div>
      </div>
    </div>

    <div class="carousel-item">
      <img class="d-block w-100" src="/image/carrousel3.jpg" alt="Third slide">
      <div class="container">
              <div class="carousel-caption text-left">
                <h1>Dans le besoin ?</h1>
                <p>Si vous travaillez dans un hôpital et pensez que ce masque pourrait vous être très utile en cette période sombre, nous vous proposons de formuler votre demande en ligne.</p>
                <p><a class="btn btn-lg btn-light" href="{{ path('demandePage') }}" role="button">Formuler votre demande</a></p>
              </div>
      </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container marketing" id="LearnMore">

  <hr class="featurette-divider">


  <div class="row featurette" id="section1">
    <div class="col-md-7">
      <h2 class="featurette-heading">Qui sommes nous ?</h2>
      <p class="lead"> {{ s1 }} </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="/image/rs1.jpg" data-holder-rendered="true">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette" id="section2">
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="/image/rs2.jpg" data-holder-rendered="true">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Notre Projet</h2>
      <p class="lead"> {{ s2 }} </p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette" id="section3">
    <div class="col-md-7">
      <h2 class="featurette-heading">Notre Produit</h2>
      <p class="lead"> {{ s3 }} </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="/image/rs3.jpg" data-holder-rendered="true">
    </div>
  </div>

  <hr class="featurette-divider">

</div>

</main>
